<html>
	<mat-label>{{companyName}}</mat-label>
	<p></p>
	<mat-label>Available products</mat-label>
	<p></p>
	<table mat-table [dataSource]="equipmentData">
	<ng-container matColumnDef="name">
        <th mat-header-cell>Name</th>
        <td mat-cell *matCellDef="let equipment">{{equipments}}</td>
    </ng-container>
	 <ng-container matColumnDef="availablePickups">
        <th mat-header-cell>View</th>
        <td mat-cell *matCellDef="let equipment"><button mat-flat-button (click)="View(equipment.name)">View</button></td>
    </ng-container>
	</table>
	<p></p>
	<p></p>
	<form>
		<mat-label>Filter products:</mat-label>
		<p></p>	
		<mat-label>Name:</mat-label>
        <input matInput name="filter" [(ngModel)]="filter">
		<p></p>
        <button mat-flat-button (click)="Filter()">Filter</button>
    </form>
</html>