<html>
	<header>Registration</header>
	<p></p>
	<form>
		<mat-label>Username: </mat-label>
		<input matInput name="name"[(ngModel)]="username"></input>
		<p></p>
		
		<mat-label>Password: </mat-label>
		<input matInput name="password" type = "password" [(ngModel)]="password"></input>
		<p></p>
		
		<mat-label>E-mail: </mat-label>
		<input matInputname="email"[(ngModel)]="email"></input>
		<p></p>
		
		<mat-label>Name: </mat-label>
		<input matInput name="name"[(ngModel)]="name"></input>
		<p></p>
		
		<mat-label>Surname: </mat-label>
		<input matInput name="surname"[(ngModel)]="surname"></input>
		<p></p>
		
		<mat-label>Gender: </mat-label>
		<select name="gender"[(ngModel)]="gender">
			<option [ngValue] = "male">Male</option>
			<option [ngValue] = "female">Female</option>
			<option [ngValue] = "undisclosed">Undisclosed</option>
		</select>
		<p></p>
		
		<mat-label>Personal ID: </mat-label>
		<input matInput name="personalId"[(ngModel)]="personalId"></input>
		<p></p>
		
		<mat-label>Phone: </mat-label>
		<input matInput name="phone"[(ngModel)]="phone"></input>
		<p></p>
		
		<mat-label>Address: </mat-label>
		<input matInput name="address"[(ngModel)]="address"></input>
		<p></p>
		
		<mat-label>City: </mat-label>
		<input matInput name="city"[(ngModel)]="city"></input>
		<p></p>
		
		<mat-label>Country: </mat-label>
		<input matInput name="country"[(ngModel)]="country"></input>
		<p></p>

		<button mat-flat-button (click) = "submit()"></button>
	</form>
	<p></p>
	<button mat-flat-button (click)="back()">Back</button>
</html>