<html>
	<header>Complaints</header>
	<p></p>
	<table mat-table [dataSource]="complaintData">
	<ng-container matColumnDef="user">
		<th mat-header-cell>User</th>
		<td mat-cell *matCellDef="let complaint">{{complaint.user}}</td>
	</ng-container>
	<ng-container matColumnDef="time">
		<th mat-header-cell>Made at:</th>
		<td mat-cell *matCellDef="let complaint">{{complaint.time}}</td>
	</ng-container>
	<ng-container matColumnDef="endTime">
		<th mat-header-cell>Admin:</th>
		<td mat-cell *matCellDef="let complaint">{{complaint.admin}}</td>
	</ng-container>		
	<ng-container matColumnDef="View">
        <th mat-header-cell>Response</th>
        <td mat-cell *matCellDef="let complaint"><button mat-flat-button (click)="view(complaint.response)">View</button></td>
    </ng-container>
	</table>
	<p></p>
	<p>{{response}}</p>
	
	<button mat-flat-button (click)="back()">Back</button>

</html>