<html>
	<header>Write a complaint</header>
	<p></p>
	<form>
		<mat-label>Company:</mat-label>
			<mat-select (selectionChange) = "getAdmins()">
			@for (company of companyData; track company)
			<mat-option [value]="company" [ngModel] = "company">{{company}}</mat-option>
			</mat-select>
	<p></p>
		<mat-label>Administrator:</mat-label>
			<mat-select>
			@for (admin of adminData; track admin)
			<mat-option [value]="admin" [ngModel] = "admin">{{admin}}</mat-option>
			</mat-select>
	<p></p>
		 <textarea matInput name="response" rows="10" cols="50" overflow-y: scroll [(ngModel)]="content">
		 </textarea>
	<p></p>
    <button mat-flat-button (click)="submit()">Submit</button>
	<p></p>
    <button mat-flat-button (click)="cancel()">Cancel</button>
	</form>
</html>